*{
    margin: 0;
    padding: 0;
     
}
body{
    /* background-image:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */

    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    gap:1rem;
    
    
}
.game{
    height: 60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    gap:1rem;
}
.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size:2.5rem;
    background-color: beige;
}
#reset{
    padding: 15px;
    font-size: 1.3rem ;
    background-color: rgb(174, 165, 165);
    border-radius: 15px;
    border: none;

}

#new-Btn{
    padding: 15px;
    font-size: 1.3rem ;
    background-color: rgb(174, 165, 165);
    border-radius: 15px;
    border: none;


}
.hide{
    display: none;
}

.msg-container{
    height: 30vmin;

}

#msg {
    color: #e1e16d;
    font-size: 5vmin;
}